@font-face {
    font-family: "Cinzel";
    src: url("fonts/Cinzel/static/Cinzel-Regular.ttf") format("ttf");
}


body {
    background-image: url("images/woodwork.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #F7F4EB !important;
}

h1 {
    font-family: "Cinzel";
    font-size: 86px !important;
    text-transform: uppercase;
    margin-top: 100px;
}

.logo {
    width: 100px;
}