@font-face {
    font-family: "Cinzel";
    src: url("fonts/Cinzel-VariableFont_wght.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }


body {
    background-image: url('images/woodwork.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transform: scaleX(-1);
}

h1 {
    font-family: "Cinzel";
    text-transform: uppercase;
}

.logo {
    width: 100px;
}