@font-face {
    font-family: "Cinzel";
    src: url("fonts/Cinzel/Cinzel-VariableFont_wght.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-VariableFont_wght.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}



body {
    background-image: url("images/woodwork.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: #F7F4EB !important;
}

h1 {
    font-family: "Cinzel";
    font-size: 86px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.logo {
    width: 100px;
}